.btn-transparent{ 
  background: transparent;
  display : flex;
  justify-content : center;
  align-items : center;
  height:50%;
  width: 50%;
  border : 2px solid #fff;
  border-radius : 5%;
  cursor : pointer;

}

.btn-primary{ 
  background: #fff;
  color : #242222;
  display : flex;
  justify-content : center;
  align-items : center;
  height:50%;
  width: 50%;
  border : 2px solid #fff;
  border-radius : 5%;
  cursor : pointer;

}


.btn-transparent:hover {
  background-color:#fff;
  color: #242222;
  transform: scale(1.1);
  transition: all 600ms ease-out;
}